
html, body, .container-fluid {
  background-color: #f8f1ff;
  color:#683669
  
}


.container {
  background-color: rgb(216, 115, 246);
 }
 
.nav {
  background-color:#683669 ;
  font-family: Arial, Helvetica, sans-serif;
  color: #eddde1;
  

}

#mobile-nav {
  display:none;
  
}
#mobile-device  {
   display:none;
 }


.fa-solid, .fas {
  color:#eddde1;
  
}

.nav a {
  color:#FFFFFF;
}

.nav a:hover, #mobile-nav a:hover{
  color:#FFFFFF !important;
  font-weight: bold;
}


.nav-logo {
  max-width: 50px;
  max-height:50px;
}

#section1 {
  background-color: #f8f1ff;
}

.col-6{
  padding-left:0 !important;
  padding-right:0 !important;
}

.info, .info-i {
  margin:2em;
  font-family: Arial, Helvetica, sans-serif;
  color: #683669;
}

.club-name {
  font-size: 4em;
  margin-bottom: .50em;
}

.school-name {
  font-size: 2em;
  margin-bottom: .75em;
}

.social-media {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2em;
}
.img-home {
width: 100%;
height: 100vh;
float: right;
}

h1.about-us {
  margin-top: 3em;
  margin-left: .75em;
  font-size: 48px;
  color:#683669;
  font-family: Arial, Helvetica, sans-serif;
}
.about {
  font-size: 1.8em;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  background-color: #f8f1ff;
  
}

.title h1 {
  margin-top: 3em;
  margin-left: .75em;
  font-size: 48px;
  color:#683669;
  font-family: Arial, Helvetica, sans-serif;
}

.sponsor-img{
  max-height: 500px;
  max-width:500px;
}

.sponsor-tiers {
  font-family: monospace;
  color:#683669;
}

.centered-heading{
  margin-top: .5em;
  font-size: 84px;
  padding:30px;
  letter-spacing: .1em;
  font-weight: 400;


}

.centered-heading-col {
  margin-top: 0.5em;
  font-size: 48px;
  padding-top: 30px;
  letter-spacing: .1em;
  font-weight: 400;
}

#mobile-device-img {
  display:none;
}
.mentorship2 {
  padding-bottom: 0.9em;
}

.mentorship3, .mentorship4 {
  padding-bottom: 2.3em
}



.team-img {
  height: 250px;
  width:250px;
  border-radius: 50%;
}

.line-height{
  line-height: 2em;
}

.init-img{
  height: auto;
  width: 100%;
}

.member-title {
 margin:20px;
 font-size: 24px;
 text-align: center;
}

.team-contact{
  margin-top:40px;
  margin-bottom: 40px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: normal;
}

.flex-items:nth-child(1) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(2) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.flex-items:nth-child(3) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}


.flex-items:nth-child(4) {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

@media screen and (max-width: 1024px) {
  .container-fluid {
    z-index:-1;
  }

  #mobile-nav{
    position: relative;
    display:flex;
    background-color: #f8f1ff;
    font-size: 24px;
  }
  #mobile-nav a {
    color:#f8f1ff;
    text-decoration: none;
    display:inline-flex;
    padding-left: 20px;

  }

  #mobile-nav img {
     width: 75px;
     height: 75px;
     
  }

  #mobile-nav > button > span > i {
    padding: 0.25rem 0.75rem;
    font-size: 2.25rem;
    line-height: 1;
    background-color: purple;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  
  #navbarSupportedContent1 > ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: purple;
    
  }
  #fullscreen {
    display:none;
  }
  
  #mobile-device  {
    display:block;
  }

  
  .info {
   
    margin: auto;
    text-align: center;
    line-height: 3.5em;
    padding-bottom: 20px;
  }

  .info-i {
   
    margin: auto;
    text-align: center;
    line-height: 3.5em;
    padding-bottom: 20px;
  }
  .info p {
    margin-bottom:0;
  }
  .club-name {
    font-size:3em;
  }
  .container-fluid, .xs-col-12, .sm-col-6 {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .img-home {
    width: 100%;
    height: auto;
    float: none;
    }

    .social-media, .icons {
      padding:.5em
    }
  navbar {
      display:none;
    }
    h1.about-us {
      margin-top: 0;
      margin-left:0;
      font-size: 48px;
      color: #683669;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
  }

  .about {
    font-size: 1.8em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    line-height: 1.5em;
  }
  .centered-heading-col {
   
    letter-spacing: 0em; 
 
}
.info-i {
    margin: auto;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 20px;
}
}

@media screen and (max-width: 991px) {
  #fullscreen-img {
    display:none;
  }

  #mobile-device-img {
    display:block;
  }

  p.mentorship {
    padding-bottom: 4em;
  }
}

@media screen and (max-width: 888px){
  
.mentorship2 {
  padding-bottom: 2.4em;
}
.mentorship4 {
  padding-bottom: 3.9em;
}
}

  @media screen and (max-width: 425px){
    .club-name {
      font-size: 2.5em;
  }

  h1.about-us {
    padding-top: 15px;
    font-size:39px
  }

  .about {
    font-size: 1.4em;
    line-height: 1.25em;
  }
}


